/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #f1f1f1;
}

h1 {
  font-size: 80px;
}

h3 {
  font-size: 30px;
}

/* Giving our navbar some padding and a background color */
.navigation {
  padding: 10px;
  background: #040e9b;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}

.navigation .navbar-brand {
  color: green;
  margin-left: 30px;
  padding: inherit;
  font-weight: bold;
  background-color: whitesmoke;
  font-family: Georgia, 'Tahoma', Times, serif;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

/* Box Class */
.box {
    margin-top: 60px;
    margin-bottom: 62px;
    padding: 10px 20px 15px;
    color:black;
    background-color: white;

}

/* Footer Section*/
.footer {
  background-color: #666666;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #0BADA6;
  min-height: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: right;
  position: fixed;
  left: 50px;
  bottom: 5px;
  width: 100%;
  padding-top: 15px;
  color: navy;
}

